In [3]:
import pickle
import pandas as pd

tickers = ['WFC-PL', 'V', 'TD', 'MS', 'MA', 'JPM', 'GS', 'C', 'BRK-A', 'BAC-PL']
temp_dir = {'SYMBOL' : [],
            'INDUSTRIES' : [],
            'RETURN' : [],
            'SCORE' : []}


for ticker in tickers:
    with open(f'score/{ticker}.pkl', 'rb') as f:
        rank = pickle.load(f)
        temp_dir['SYMBOL'].append(rank[0])
        temp_dir['INDUSTRIES'].append(rank[1])
        temp_dir['RETURN'].append(rank[3])
        temp_dir['SCORE'].append(rank[2])

ranking = pd.DataFrame(temp_dir)
ranking = ranking.sort_values('SCORE', ascending=False)
ranking['RANK'] = [i for i in range(1, len(ranking) + 1)]
ranking.set_index('RANK', inplace=True)
ranking

      SYMBOL          INDUSTRIES     RETURN     SCORE
RANK
1      BRK-A  Financial Services  23.709655  3.377315
2     BAC-PL  Financial Services  21.108637  2.478639
3          C  Financial Services   2.929658  1.598624
4         TD  Financial Services   8.124594  1.540973
5          V  Financial Services  96.340333  0.668790
6     WFC-PL  Financial Services   8.067450 -1.267645
7         GS  Financial Services -11.183493 -1.917746
8         MA  Financial Services  57.554357 -2.832178
9        JPM  Financial Services -17.776463 -3.702075
10        MS  Financial Services -33.778590 -6.421790